<ng-template #template>
  <div class="feed-modal">
    <div id="modal-feed" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Feeds</h4>
          <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngFor="let feedc of allFeeds; let i = index;" class="modal-body" [ngStyle]="{'color': feedc.color}">
          <h5>{{feedc.nom}}</h5>
          <div class="form-group">

            <label for="exampleInputEmail1">URL</label>
            <input type="text" class="form-control" id="{{feedc.id}}" aria-describedby="emailHelp" placeholder="" [(ngModel)]="feedc.url">
            <div class="form-check">
              <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> -->
              <label class="form-check-label" for="{{feedc.id}}">Afficher</label>
              <input class="form-check-input" id="{{feedc.id}}" type="checkbox" [(ngModel)]="feedc.selected"/>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <a target="_blank" href="{{feed.link}}">
              <button type="button" class="btn btn-outline-info" (click)="modalRef.hide()">Lire la suite</button>
            </a> -->
          <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<button type="button" class="btn btn-outline-secondary" (click)="openModal(template)">
  <i class="fas fa-cogs"></i>
</button>
