<div *ngIf="weatherForecast" class="days">
  <!-- <div class="row row-no-gutter"> -->
    <!-- <div *ngFor="let day of weatherForecast.list?.slice(1, weatherForecast.list.lenght)" class="col-md-3"> -->
    <div class="card-text day">
      <table class="table table-sm">
        <tbody>
          <tr>
            <td *ngFor="let temp of weatherForecast.list?.slice(6, weatherForecast.list.lenght)">
              <div *ngIf="nextDays(temp.dt_txt)">
                <h4>{{temp.dt_txt | date:'EEEE' | frenchDays}}</h4>
              </div>
            </td>
          </tr>
          <tr>
            <td *ngFor="let temp of weatherForecast.list?.slice(6, weatherForecast.list.lenght)">
              <div *ngIf="nextDays(temp.dt_txt)">
                <img src="{{temp.weather[0].icon | meteoicon}}" alt="" width="50" height="50">
              </div>
            </td>
          </tr>
          <tr>
            <td *ngFor="let temp of weatherForecast.list?.slice(6, weatherForecast.list.lenght)">
              <div *ngIf="nextDays(temp.dt_txt)">
                <h5>{{temp.main.temp | round}}°C</h5>

              </div>
            </td>
          </tr>
      </table>
    </div>
  <!-- </div> -->
</div>
