<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="feed-modal">
    <div id="modal-feed" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Localisation Google Map</h4>
          <button type="button" class="close" aria-label="Close" (click)="c()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <p > <iframe  width="600" height="450" frameborder="0" style="border:0" [src]="map" allowfullscreen></iframe></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c()">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<button class="btn btn-outline-info" (click)="open(content)">
    <i class="fas fa-map-marker-alt location"></i>
  </button> -->

<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">
  <i class="fas fa-map-marker-alt location"></i>
</button>


<ng-template #template>
  <div class="modal-map">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Localisation Google Map</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        <iframe width="470" height="450" frameborder="0" style="border:0" [src]="map" allowfullscreen></iframe>
      </p>
    </div>
  </div>
</ng-template> -->

<ng-template #template>
  <div class="feed-modal">
    <div id="modal-feed" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Localisation Google Map</h4>
          <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe width="470" height="450" frameborder="0" style="border:0" [src]="map" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <!-- <div *ngIf="feed.author" class="author">
            <span>Auteur: {{feed.author}}</span>
          </div>

          <a target="_blank" href="{{feed.link}}">
            <button type="button" class="btn btn-outline-info" (click)="modalRef.hide()">Lire la suite</button>
          </a> -->
          <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<button type="button" class="btn btn-outline-danger" (click)="openModal(template)">
  <i class="fas fa-map-marker-alt location"></i>
</button>
