/* .feed-modal {
    position: absolute;
    top: 200px !important;
}

.modal-dialog {
    max-width: 630px;
    margin: 15px auto;
    margin-left: -65px;
}

.modal-header h4 {
    margin-left: 27%;
}

.modal-footer {
    justify-content: center;
} */

.modal-map {
    top: 200px;
}

.close {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .2s ease-in-out 0s;
            transition:         transform .2s ease-in-out 0s;
  }

  .close:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }