.container-meteo-sumary {
    float: right;
    margin-right: 20px;
    bottom: 30px;
    /* border: 1px solid rgb(0, 162, 255); */
    border-radius: 5px;
    margin-right: 19px;
    margin-top: -1px;
}

.container-meteo-sumary .card-header {
    display: -webkit-inline-box;

}

.container-meteo-sumary a {
    color: inherit
}
.container-meteo-sumary:hover {
    /* border: 1px solid rgb(0, 162, 255); */
    border-radius: 5px;
    margin-right: 19px;
    margin-top: -1px;
}


.container-meteo-sumary img{
    width: 50px;
    height: 50px;
}

.container-meteo-sumary .icon-meteo {
    text-align: center;
}
.container-meteo-sumary .date {
    text-align: center;
}

.container-feed-icon {
    color: rgb(112, 136, 112);
    margin-left: 20px;
}
.container-feed-icon:hover {
    color: forestgreen;

}
