.container-meteo-sumary {
    border-radius: 5px;
    text-align: center;
}

.container-meteo-sumary a {
    color: inherit
}

.container-meteo-sumary img{
    margin: 10px;
    width: 60px;
    height: 60px;
}

.container-meteo-sumary .date {
    margin-bottom: 10px;
}
