<div style="text-align:center">
  <input type="text" [(ngModel)]=cityName>
  <button (click)=searchCity()>Search</button>
  <div *ngIf="weather" class="container">
    <div class="info">
      <h1>
        <strong> City:</strong>{{weather.name}}</h1>
      <h3>longitude:{{weather.coord.lon}}</h3>
      <h3>longitude:{{weather.coord.lat}}</h3>
      <h3>
        <strong>Temp</strong>:{{weather.main.temp}}</h3>
      <h3>
        <strong>tempMax:</strong>{{weather.main.temp_max}} </h3>
      <h3>
        <strong>tempMin: </strong>{{weather.main.temp_min}}</h3>
      <h3>
        <strong>The weather description:</strong> {{weather.weather[0].description}}</h3>
      <h3>
        <strong>humidity :</strong>{{weather.main.humidity}}</h3>
    </div>
  </div>
</div>
