<div class="container">
  <div class="container-meteo">
    <div class="container-meteo-search">
      <input (keyup.enter)="searchCity()" [(ngModel)]=cityName class="form-control mr-sm-2" type="search" placeholder="Ville..?"
        aria-label="Search" required>
      <button class="btn btn-outline-success my-2 " (click)=searchCity()>Chercher</button>
    </div>
    <div *ngIf="city" class="alert alert-warning" role="alert">
      <strong>Oups! </strong>Entrez une ville.
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      <strong>Erreur! </strong>Ville non trouvée!
    </div>
    <div class="container-meteo-content" *ngIf="weatherForecast">
      <div class="card meteo-group-card">
        <div class="card-header">
          <div class="title">
            <h3>{{weatherForecast.city.name}} </h3>
          </div>
          <div class="meteo-info-container">
            <div *ngIf="meteoDetails" class="meteo-info-details">
              <div class="pays">Location:
                <br> {{weatherForecast.city.country | pays}}</div>
              <!-- <div class="espace"></div> -->
              <div class="location">
                <app-map-modal [map]="map"></app-map-modal>
              </div>
              <!-- <div class="espace"></div> -->
              <div class="timezone" *ngIf="timeZone">Heure locale:
                <br> {{timeZone.formatted | date: 'HH:mm'}}</div>
              <!-- <div class="location">
              <app-map-modal [map]="map"></app-map-modal>
            </div> -->
            </div>
          </div>
          <div class="meteoExtend" (click)="meteoDetails = !meteoDetails">
            <i [ngClass]="meteoDetails ? 'fas fa-angle-up': 'fas fa-angle-down'"></i>
          </div>
          <!-- {{weather.main.temp | round}}°C -->
        </div>
        <div class="meteo-date">
          <h4>Aujourd'hui</h4>
        </div>
        <div class="meteo-group">
          <div class="meteo-group-left">
            <img class="main-img" src="{{weatherForecast.list[0].weather[0].icon | meteoicon}}" alt="" width="120" height="120">
          </div>
          <div class="meteo-group-right">
            <div class="card-body">
              <div class="meteo-temps">
                <h1>{{weatherForecast.list[0].main.temp | round}}°C </h1>
              </div>

            </div>
            <div *ngIf="showMap">
            </div>
          </div>
        </div>
        <h5 class="card-title meteo-desc">{{weatherForecast.list[0].weather[0].description | capitalize}}</h5>

        <div class="card-text meteo-details">
          <!-- <div *ngFor="let temp of weatherForecast.list?.slice(0, 5)">
                <span>{{temp.dt_txt | date:'H'}}h
                  <img src="{{temp.weather[0].icon | meteoicon}}" alt="" width="20" height="20"> {{temp.main.temp | round}}°C</span>
              </div> -->

          <table class="table table-sm">
            <tbody>
              <tr>
                <td *ngFor="let temp of weatherForecast.list?.slice(1, 6)">{{temp.dt_txt | date:'H'}}h</td>
              </tr>
              <tr>
                <td *ngFor="let temp of weatherForecast.list?.slice(1, 6)">
                  <img src="{{temp.weather[0].icon | meteoicon}}" alt="" width="30" height="30">
                </td>
              </tr>
              <tr>
                <td *ngFor="let temp of weatherForecast.list?.slice(1, 6)">{{temp.main.temp | round}}°C</td>
              </tr>
          </table>

          <!-- <span>
                <img src="assets/meteo/icons/icon-umberella.png" alt="">{{weatherForecast.list[0].main.humidity}}%</span>
              <span>
                <img src="assets/meteo/icons/icon-wind.png" alt="">{{weatherForecast.list[0].wind.speed | round}} km/h</span>
              <span>
                <img src="assets/meteo/icons/icon-compass.png" alt="">{{weatherForecast.list[0].wind.deg | degwind}}</span> -->
        </div>
        <div *ngIf="forecast">
            <app-meteo-details [weatherForecast]="weatherForecast"></app-meteo-details>
          </div>
        <div class="meteo-prevision">
          <button type="button" class="forecast btn btn-info" (click)=forecastToggle()>Prévisions</button>
        </div>
      </div>
    </div>
    
    <div class="container-meteo-content" *ngIf="!weatherForecast">
      <div class="card meteo-group-card-loading">
        <h5 class="card-header">Chargement..</h5>
        <div class="card-body">
          <p>
            <app-loader></app-loader>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <some-element [ngClass]="{'first': true, 'second': true, 'third': false}">...</some-element> -->

<!-- <i class="glyphicon glyphicon-bell" [ngClass]="cookieData.search_unread_count != 0 ? 'notification-icon': ' '"> -->


<!-- <div *ngIf="!meteodetails; else elseBlock"></div> -->
<!-- <ng-template #elseBlock></ng-template> -->

<!-- <div *ngIf="meteoDetails;then content else other_content"></div>

            <ng-template #content>
              <i class="fas fa-angle-up"></i>
            </ng-template>
            <ng-template #other_content>
              <i class="fas fa-angle-down"></i>
            </ng-template> -->
