/* .container {
    background-color: rgb(49, 111, 105)
} */

/* .body {
    background-color: rgb(49, 111, 105);
    background-repeat: no-repeat;
    background-size: cover;
} */

.container-meteo {
    margin: auto;
    text-align: center;
    width: 60%;
    margin-top: 100px;

}

.container-meteo-search {
    border-radius: 10px;
    padding: 10px;
    background-color: #f7f7f7;   
    display: inline-grid;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
}

 .alert {
    width: 50%;
    margin: 10px auto;
}

.container-meteo-search button {
    margin: auto;
    width: 40%;
}
.container-meteo .main-img {
    margin: 10px;
    margin-bottom: 20px;
}

.meteo-group-card {
    width: 80%;
    margin: auto;
}

.meteo-group-card-loading {
    width: 40%;
    margin: auto;
}

.location {
    margin: 10px 40px 10px 40px;
}

.forecast {
    margin-top: 40px;
}

.today {
    margin: 10px;
}

.meteo-info-details {
    /* width: 100%; */
    display: inline-flex;
    margin-top: 10px;
    /* margin-left: 130px; */
}

.meteo-group {
    display: inline-flex;
}

.meteo-date {
    /* text-align: center; */
    margin: 10px 0 10px 0;
}

.meteo-temps {
    margin-top: -10px;
}

.meteo-temps h1 {
    font-size: 70px;
    margin-bottom: 30px;
    color: #3e3e3e
}

.meteo-group-right {
    width: 50%;
    margin-top: 20px;
}

.meteo-desc {
    margin-top: -30px;
    margin-bottom: 30px;
}

.meteo-group-left {
    width: 50%
}

.meteo-details {
    display: flex;
    /* margin-bottom: 50px; */
}

.meteo-prevision {
    /* display: inline-block; */
    margin-bottom: 20px;
    margin-top: -30px;
}

.pays {
    
}
.espace {
    /* width: 2%; */
}

.meteoExtend  .fa-angle-down, .meteoExtend .fa-angle-up  {
    width: 100%;
   color: #b3b3b3 ;
   margin-right: -450px;
}

.meteoExtend .fa-angle-down:hover, .meteoExtend .fa-angle-up:hover {
    color: black;
 }


