/* .container {
    background-color: rgb(49, 111, 105)
} */

/* .body {
    background-color: rgb(49, 111, 105);
    background-repeat: no-repeat;
    background-size: cover;
} */

.container-meteo {
    margin: auto;
    text-align: center;
    width: 40%;
    margin-top: 100px;

}

.container-meteo-search {
    border-radius: 10px;
    padding: 10px;
    background-color: #f7f7f7;   
    display: inline-grid;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.container-meteo-search button {
    margin: auto;
    width: 40%;
}
.container-meteo img {
    margin: 10px;
    margin-bottom: 10px;
} 

.location {

    margin: 5px;
}

.forecast {
    margin-top: 40px;
}

.today {
    margin: 10px;
}

.sous-header {
    width: 100%;
    display: inline-flex;
}
.pays {
    
}
.espace {
    width: 34%;

}


