<div class="container-feed">
  <div class="container-feed-header">
    <div class="container-feed-title">
      <h4>Univers Freebox </h4>
      <span>{{time | timeAgo}}</span>
    </div>
    <div class="container-feed-icon">
      <a (click)="refreshFeed()">
        <i class="fas fa-sync-alt fa-1x"></i>
      </a>
    </div>
  </div>
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <ng-container *ngFor="let feed of feeds?.slice(0, 10); let i = index">
        <li data-target="#carouselIndicators" [attr.data-slide-to]="i" class="{{ (i == 0) ? 'active' : ''}}"></li>
      </ng-container>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="container-feed-contenu">
        <div *ngFor="let feed of feeds?.slice(0, 10); let i = index" class="{{ (i == 0) ? 'carousel-item active' : 'carousel-item'}}">
          <app-feed-card [feed]="feed"></app-feed-card>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<!-- - {{feeds?.length}} News -->
