<div class="container-speech">
  <div class="form-group">
    <div class="container-speech-input">
      <input type="text" class="form-control border-input" name="txtSpeechSearchMovieName" id="txtSpeechSearchMovieName" value=""
        placeholder="Cliquez pour activer.." [(ngModel)]="speechData">
    </div>

    <div class="container-speech">
      <button class="btn btn-info btn-fill btn-wd" name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"
        [disabled]="!showSearchButton">
        <i class="fas fa-microphone"></i>
      </button>
    </div>
  </div>

</div>
