.container-chat {
    margin-top: 100px;
    text-align: center;
    max-height: 400px;
    min-height: 400px;

}

.container-chat-content {
    margin: auto;
    width: 40%;
    text-align: unset;
    overflow-y: scroll;
    max-height: 450px;
    min-height: 400px;

}

.container-chat-input {
    display: -webkit-inline-box;
    margin: 20px;
}

.container-chat-input button {
    margin-left: 5px;
}

.container-chat-input .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}


.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
    width: auto;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}