<div class="container-chat">
  <h1>Angular Bot</h1>
  <div #scrollMe class="container-chat-content">
    <ng-container *ngFor="let message of messages | async">
      <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
        {{ message.content }}
      </div>
    </ng-container>
    <div class="container-chat-input">
      <input class="form-control" type="text" [(ngModel)]="formValue" (keyup.enter)="sendMessage()">
      <button class="btn btn-outline-success" (click)="sendMessage()">Envoyer</button>
    </div>
  </div>
</div>
