.container-card {
    margin-bottom: 20px;
    max-width: 550px;
    max-height: 200px;
}

.container-card-text {
display: -webkit-inline-box;
margin-right: 20px;
}

.container-card .card-body {
    padding: 0;
}