<div class="container-feed">
    <div class="container-feed-header">
      <div class="container-feed-title">
        <h4>Next Inpact - {{feeds?.length}} News </h4>
        <span>{{time | dateTimeFormat}}</span>
      </div>
      <div class="container-feed-icon">
        <a (click)="refreshFeed()">
          <i class="fas fa-sync-alt fa-1x"></i>
        </a>
      </div>
    </div>
    <div class="container-feed-contenu">
      <app-feed-card *ngFor="let feed of feeds" [feed]="feed"></app-feed-card>
    </div>
  </div>