<div class="container-feed-group">
  <div class="feed-config">
    <app-feed-config-modal [allFeedsEdit]="allFeeds"></app-feed-config-modal>
    <button type="button" class="btn btn-outline-success" (click)="getFeeds()">
      <i class="fas fa-sync"></i>
    </button>
  </div>
  <div class="row">
    <div *ngFor="let feedc of allFeeds; let i = index;">
      <div *ngIf="feedc.selected">
        <div class="card-deck">
          <!-- <div movable [movableEnabled]="toggle" class="card-deck"> -->

          <div class="card col">
            <div class="card-body">
              <p class="card-text">
                <app-feed [feedc]="feedc"></app-feed>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
