.container-feed-group {
    margin-top: 100px;
}


.container-feed-group .card-deck {
    max-width: 1000px;
    max-height: 350px;
    margin: 5px;
}

.container-feed-group .card-header {
    
}

.container-feed-group .card-body {
    /* width: 100%;
    height: 100%; */
}