.container-feed-group .row {
  margin-left: 0px;
}

.container-feed-group .card {
  margin-bottom: 10px;
}

.container-feed-group .card-deck {
  max-width: 1200px;
  /* min-width: 1000px; */
  margin: 5px;
}

.feed-config {
  margin: auto;
  margin-left: 20px;
  margin-top: -1%;
}

.nav-config {
  position: fixed;
  bottom: 50px;
  left: 95%;
  z-index: 99999;
}