<div class="container-feed-group">


  <div class="card-deck">
    <div class="card border-warning mb-2">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text">
          <app-feed-nxi></app-feed-nxi>
        </p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card border-danger mb-2">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <p class="card-text">
          <app-feed-univf></app-feed-univf>
        </p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Maj toutes les heures</small>
      </div> -->
    </div>
  </div>
</div>
