/* You can add global styles to this file, and also import other style files */
.SmallerPage {
    zoom: 0.75;
  }

.accueil, .meteo, .chatbox {
    background: #ececec;
    background-repeat: no-repeat;
    background-size: cover;
}



/* .meteo {
    background: #ececec;
    background-repeat: no-repeat;
    background-size: cover;
}

.chatbox {
    background: #ececec;
    background-repeat: no-repeat;
    background-size: cover;
} */