<!-- <div class="card">
  <h5 class="card-header">Background</h5>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div> -->

<div class="container-panel">
  <div class="card text-white bg-dark mb-3" style="width: 350px;">
    <div class="card-header">
      <h5>Backgrounds</h5>
      <button class="btn btn-outline-info panel-add" type="button" (click)="dropToggle()">
        <i class="fas fa-plus fa-sm"></i>
      </button>
      <button class="btn btn-outline-success panel-save" type="button">
        <i class="far fa-save fa-2x"></i>
      </button>
      <!-- <span class="panel-save"></span> -->
    </div>
    <div *ngIf="drop" class="drop-files bg-drop-zone">
      <file-drop headertext="" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        
        <span>
          <!-- <button class="btn btn-outline-primary" type="button"> -->
              <label class="btn btn-outline-primary">
                  ... <input type="file" style="display: none;">
              </label>
            
          <!-- </button> -->
          <!-- <input type="file" #fileInput placeholder="" class="bg-drop-zone" /> -->
        </span>
      </file-drop>
    </div>
    <!-- <div class="card-body text-dark"> -->
    <ul class="list-group list-group-flush">
      <li *ngFor="let bg of backgrounds; let i = index;" class="list-group-item">
        <div class="bg-config">
          <img class="card-img" [ngClass]="{'bg-selected': bg.selected }" (click)="listClick($event, bg)" src="https://picsum.photos/10"
            alt="IMG">
          <span class="bg-nom">
            <input type="text" class="form-control input-nom" [(ngModel)]="bg.nom">
          </span>
          <!-- <div class="bg-config-footer"> -->
          <!-- <span class="selected-bg">
              <i class="far fa-check-circle"></i>
            </span> -->
          <span></span>
          <span class="del-bg">
            <i class="fas fa-times"></i>

          </span>
          <!-- </div> -->

        </div>
      </li>
    </ul>
    <!-- </div> -->
  </div>
</div>
