:host {
    background: #3a3a3e;
    color: #fff;
    position: fixed;
    left: auto;
    top: 500px;
    right: 0;
    bottom: 100px;
    width: 10%;
    min-width: 250px;
    z-index: 9999;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 5px 0px 0px 5px;
  }
   
  ul {
    font-size: 18px;
    line-height: 3;
    font-weight: 400;
    padding-top: 50px;
    list-style: none;
  }