.container-feed {
    position: relative;
    margin-left: 30px;
    bottom: 200px;
}

.container-feed .feed-icon .mat-button {
    margin-left: 40px;
    min-width: auto;
}

.container-feed-contenu {
    width: 800px;
    height: 500px;
    overflow-y: scroll;
}